html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & main {
    flex: 1;
  }
}

.center-icon-with-sr-only:before {
  margin: auto !important;
}

.display-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.align-right {
  text-align: right;
}

.fr-btn-link {
  --text-spacing: 0;
  --title-spacing: 0;
  display: inline;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 0;
  color: var(--text-action-high-blue-france);
  background-image: var(--underline-img), var(--underline-img);
  background-position:
    var(--underline-x) 100%,
    var(--underline-x) calc(100% - var(--underline-thickness));
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0s;
  background-size:
    var(--underline-hover-width) calc(var(--underline-thickness) * 2),
    var(--underline-idle-width) var(--underline-thickness);

  &:hover {
    background-color: transparent !important;
    --underline-hover-width: var(--underline-max-width);
  }
}

.fr-btn-link__icon::before {
  transition: transform 0.2s ease;
}

.fr-btn-link__icon--is-open::before {
  transform: rotate(-180deg);
}

.relative {
  position: relative;
}

.bg-cumulus {
  background-color: var(--background-alt-blue-cumulus);
}

.one-line {
  white-space: nowrap;
}

.color-purple-glycine {
  color: var(--light-options-illustration-color-sun-default-purple-glycine-sun-319, #6e445a);
  background: var(--light-options-illustration-color-925-default-purple-glycine-925, #fddbfa);
}

.bold {
  font-weight: 700;
}
