.user-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-menu__disconnect-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-menu__item {
  & .user-menu__item__icon {
    margin-right: 0.5rem;
    &::before {
      --icon-size: 1rem;
    }
  }
}
