*,
*::before,
*::after {
  box-sizing: border-box;
}

.user-menu__wrapper {
  position: relative;
  width: 100%;
}

.user-menu__wrapper > button.fr-btn {
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.user-menu {
  position: static;
  width: 100%;
  margin: 0;

  border-top: 1px solid var(--border-default-grey);
  border-radius: var(--radius-1);
  box-shadow: none;
  text-align: left;
}

.user-menu__wrapper > button.fr-btn.user-menu-btn--open {
  background-color: var(--artwork-decorative-blue-france) !important;
  box-shadow: none !important;
}

.menu__trigger__icon {
  margin-left: 0.25rem;
  transition: transform 0.3s ease-in-out;
}

.menu__trigger__icon--is-open {
  transform: rotate(180deg);
}

.user-menu__header {
  color: var(--text-label-grey);
  font-weight: 700;
}

.user-menu__header p {
  margin: 0;
}

.user-menu__separator {
  border-top: 1px solid var(--border-default-grey);
}

.user-menu a:hover {
  color: var(--text-action-high-blue-france);
}

.user-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.user-menu__footer form {
  width: 100%;
}

.user-menu__footer .user-menu__btn.fr-btn {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center !important;
  align-items: center;

  border: 1px solid var(--border-default-grey);
  box-shadow: none;
  background-color: var(--background-default-grey);
}

@media (min-width: 62em) {
  .user-menu-wrapper {
    width: auto;
  }

  .user-menu-wrapper > button.fr-btn {
    width: auto;
    border-bottom: none;
  }

  .user-menu {
    position: absolute;
    top: calc(100% - 1px);
    right: 4px;

    min-width: 18rem;

    border-top: none;
    box-shadow: var(--shadow-overlap);
    background-color: var(--background-default-grey);
  }
}
