.request-details-content {
  padding: 1rem 2rem;
  border: 1px solid var(--border-default-grey);
}

.timeline-container {
  position: relative;
  padding-left: 2rem;
}

.timeline-line {
  position: absolute;
  left: calc(1.5rem + 1px);
  top: 1.5rem;
  bottom: 1rem;
  width: 2px;
  background-color: var(--border-default-grey);
}

.timeline-step {
  position: relative;
}

.timeline-dot {
  position: absolute;
  left: -0.875rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--background-default-grey);
  border: 2px solid var(--border-default-grey);
}

.timeline-card {
  background-color: transparent;
}

.timeline-card-body {
  background-color: transparent;
}

.step {
  background-color: transparent;
  padding-left: 1.5rem;
}

.request-tabs {
  box-shadow: none;
}

.request-tabs::before {
  box-shadow: inset 0 1px 0 0 var(--border-default-grey);
}
.request-tabs :global(.fr-tabs__panel) {
  padding: 2rem 0;
}
.request-tabs :global(.fr-tabs__list) {
  padding-left: 0;
  padding-right: 0;
}

.request-tabs :global(.fr-tabs__list > button:first-child) {
  margin-left: 0;
}

.request-step {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-default-grey);
}

.request-step__add-note {
  margin-left: 1rem;
}

.request-notes-distplay {
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.request-notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.request-note {
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--background-alt-blue-cumulus);
}

.request-note__from {
  font-size: 0.8rem;
}

.request-note__content {
  margin: 1rem 0;
}
.request-note__file::marker {
  color: var(--text-action-high-blue-france);
}

.entite-sub-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.75rem;
  margin-top: 0.25rem;
}

.entite-sub-item {
  padding-right: 0.75rem;
  border-right: 1px solid var(--border-default-grey);
}

.entite-sub-item:last-child {
  padding-right: 0;
  border-right: none;
}

.timeline-step:last-child .request-step {
  border-bottom: none;
}
