.menu__trigger__icon {
  transition: transform 0.2s ease;
}

.menu__trigger__icon-loading {
  margin-left: 0.5rem;
}

.menu__trigger__icon--is-open {
  transform: rotate(-180deg);
}

.menu__positioner {
  z-index: calc(var(--ground) + 750);
}

.menu__popup {
  background-color: var(--background-raised-grey);
  filter: drop-shadow(var(--raised-shadow));

  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.menu__popup__header {
  padding: 0.75rem 1rem;
  color: var(--text-label-grey);
  font-weight: 700;
  line-height: 1.5rem;
}

.menu__popup__footer {
  padding: 0.75rem 1rem;
  color: var(--text-label-grey);
  font-weight: 700;
  line-height: 1.5rem;
}

.menu__popup__item {
  padding: 0.75rem 1rem;
  color: var(--text-label-grey);
  line-height: 1.5rem;
  cursor: pointer;

  &[data-highlighted] {
    background-color: var(--background-action-low-blue-france-hover);
  }
}

.menu__popup__separator {
  border-top: 1px solid var(--border-default-grey);
}
