.admin-layout__container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "nav    main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 240px 1fr;
}

.admin-layout__header {
  grid-area: header;
}

.admin-layout__nav {
  grid-area: nav;
  padding: 1rem;
}

.admin-layout__main {
  grid-area: main;
  padding: 1rem;
  overflow-y: auto;
}

.fr-sidemenu {
  height: 100%;
}

.fr-sidemenu__inner {
  height: 100%;
}

.admin-layout__sidenav {
  background-color: var(--background-raised-grey);
  --idle: transparent;
  --hover: var(--background-raised-grey-hover);
  --active: var(--background-raised-grey-active);
  filter: drop-shadow(var(--raised-shadow));
}
