.fr-table .fr-cell {
  word-wrap: break-word;
  white-space: normal;
}

.fr-table__content .fr-cell--fixed-left {
  position: sticky;
  left: 0;
  z-index: 1;
}

.fr-table__content .fr-cell--fixed-right {
  background-image:
    linear-gradient(0deg, var(--border-contrast-grey), var(--border-contrast-grey)),
    linear-gradient(0deg, var(var(--border-plain-grey)), var(var(--border-plain-grey)));
  background-position:
    0px 100%,
    0px 0px !important;
  background-size:
    100% 1px,
    1px 100% !important;
  position: sticky;
  right: 0;
  z-index: 1;
}

.fr-table__empty {
  text-align: center !important;
}

.fr-table__caption-with-loader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.fr-table__caption-with-loader .loader {
  margin: 0;
  flex-shrink: 0;
}
