.legend-display {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.legend-display :global(.fr-col-auto) {
  min-width: 0;
}

.legend-display :global(.fr-mb-0) {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.requete-statut-tag {
  margin-left: 0;
  vertical-align: middle;
}

.priorite-menu-wrapper {
  display: flex;
  align-items: center;
}

.toggle-line {
  margin-top: 0.5rem;
}

.toggle-line :global(.fr-toggle label::before) {
  margin-right: 0.5rem;
}

.toggle-line :global(.fr-toggle label) {
  width: calc(100% - 0.5rem);
  font-weight: normal;
  white-space: nowrap;
}
