.entiteTag-ars {
  background-color: var(--light-options-illustration-color-950-default-pink-tuile-950, #fee9e7);
  color: var(--light-options-illustration-color-sun-default-pink-tuile-sun-425, #a94645);
}

.entiteTag-dd {
  background-color: var(--light-options-illustration-color-950-default-yellow-moutarde-950, #feecc2);
  color: var(--light-options-illustration-color-sun-default-yellow-moutarde-sun-348, #695240);
}

.entiteTag-cd {
  background-color: var(--light-options-illustration-color-950-default-green-archipel-950, #c7f6fc);
  color: var(--light-options-illustration-color-sun-default-green-archipel-sun-391, #006a6f);
}

.entiteTag-text {
  color: var(--light-decisions-text-text-title-grey, #161616);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.entiteTag-container {
  display: inline-flex;
}
