.priorite-menu-trigger {
  font-size: 0.75rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  min-height: 1.5rem;
  height: auto;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

.priorite-haute {
  color: #b34000;
  background-color: #ffe9e6;
}

.priorite-moyenne {
  color: #493625;
  background-color: #f7ece4;
}

.priorite-basse {
  color: #57533d;
  background-color: #fef7da;
}
