.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapperFilled {
  align-items: flex-start;
}

.editButton {
  flex-shrink: 0;
  padding: 0.25rem;
}

.editButton :global(.fr-icon) {
  font-size: 1rem;
}

.extraInfos {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.extraInfos dt {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.extraInfos dd {
  margin-left: 0 !important;
  margin-inline-start: 0 !important;
  padding-left: 0 !important;
}
