.other-entities-affected-container {
  margin-top: 1rem;
  border: 1px solid var(--light-decisions-border-border-default, #e5e5e5);
  border-radius: 1px;
  padding: 1rem;
}

.other-entities-affected:not(:last-child) {
  margin-bottom: 2rem;
}
