.other-entities-affected-container {
  margin: 1rem 0 0;
  border: 1px solid var(--border-default-grey);
  border-radius: 1px;
  padding: 1rem;
  list-style: none;
}

.other-entities-affected:not(:last-child) {
  margin-bottom: 2rem;
}
