.other-entities-affected-container {
  margin: 1rem 0 0;
  border: 1px solid var(--border-default-grey);
  border-radius: 1px;
  padding: 1rem;
  list-style: none;
}

.other-entities-affected:not(:last-child) {
  margin-bottom: 2rem;
}

.other-entities-affected[data-entity-relation="foreign"] :global(.fr-tag) {
  color: var(--light-options-illustration-color-sun-default-yellow-moutarde-sun-348, #695240);
  background-color: var(--light-options-illustration-color-950-default-yellow-moutarde-950, #feecc2);
}
