.toast-list__viewport {
  position: fixed;
  width: 250px;
  margin: 0 auto;
  bottom: auto;
  top: 2rem;
  right: 2rem;
  z-index: 1000;

  @media (min-width: 500px) {
    top: 2rem;
    right: 2rem;
    width: 300px;
  }
}

.toast {
  --gap: 0.75rem;
  --offset-y: calc(var(--toast-offset-y) + (var(--toast-index) * var(--gap)) + var(--toast-swipe-movement-y));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 0 !important;
  background-color: var(--background-raised-grey);

  width: 300px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.5s;

  z-index: calc(1000 - var(--toast-index));
  transform: translateX(var(--toast-swipe-movement-x))
    translateY(calc(var(--toast-swipe-movement-y) + (min(var(--toast-index), 10) * 20%)))
    scale(calc(max(0, 1 - (var(--toast-index) * 0.1))));

  &::after {
    bottom: 100%;
  }

  &[data-expanded] {
    transform: translateX(var(--toast-swipe-movement-x)) translateY(calc(var(--offset-y)));
  }

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateY(-150%);
  }

  &[data-limited] {
    opacity: 0;
  }

  &[data-ending-style] {
    opacity: 0;

    &[data-swipe-direction="up"] {
      transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
    }
    /* &[data-swipe-direction='down'] {
      transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
    } */
    /* &[data-swipe-direction='left'] {
      transform: translateX(calc(var(--toast-swipe-movement-x) - 150%)) translateY(var(--offset-y));
    }
    &[data-swipe-direction='right'] {
      transform: translateX(calc(var(--toast-swipe-movement-x) + 150%)) translateY(var(--offset-y));
    } */
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: calc(var(--gap) + 1px);
  }
}
