.requetesEntitesTable .fr-cell:has(.requetesEntitesTable__statut-cell) {
  white-space: nowrap;
  min-width: 320px;
}

.requetesEntitesTable__statut-cell {
  white-space: nowrap;
}

.requetesEntitesTable__statut-cell .fr-badge {
  white-space: nowrap;
  display: inline-block;
}

.requetesEntitesTable .fr-cell:has(.requetesEntitesTable__motifs-cell) {
  min-width: 320px;
}

.requetesEntitesTable .fr-cell:has(.requetesEntitesTable__misEnCause-cell) {
  min-width: 320px;
}
