.requetesEntitesTable {
  --table-column-min-width: 320px;
}

.requetesEntitesTable__filters {
  padding: 0;
  border: 0;
}

.requetesEntitesTable__quick-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  margin: 0;
}

.requetesEntitesTable__filter-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-default-grey);
  background-color: var(--background-default-grey);
}

.requetesEntitesTable .fr-cell:has(.requetesEntitesTable__statut-cell) {
  white-space: nowrap;
  min-width: 10ch;
}

.requetesEntitesTable__statut-cell {
  white-space: nowrap;
}

.requetesEntitesTable__statut-cell .fr-badge {
  white-space: nowrap;
  display: inline-block;
}

.requetesEntitesTable .fr-cell:has(.requetesEntitesTable__motifs-cell) {
  min-width: var(--table-column-min-width);
}

.requetesEntitesTable .fr-cell:has(.requetesEntitesTable__misEnCause-cell) {
  min-width: var(--table-column-min-width);
}

.requetesEntitesTable__reception-date-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
