.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollArea {
  flex: 1;
  overflow-y: auto;
  padding: 0 16px 88px 16px;
}

.separator {
  border-top: 1px solid var(--border-default-grey);
  margin: 1rem 0;
}

.sectionLabel {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-mention-grey);
}

.messageLink {
  margin-left: 4px;
}

.plainText {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-default-grey);
}
