name: Test - build and deploy

on:
  push:
    branches:
      - chore/deploy

jobs:
  build-docker:
    name: Build docker images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Compute short sha
        id: compute_short_sha
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          echo "SHORT_SHA=${SHORT_SHA}" >> $GITHUB_OUTPUT

      - name: Build and push Docker images
        uses: ./.github/actions/build-docker
        with:
          version: ${{ steps.compute_short_sha.outputs.SHORT_SHA }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sentry-auth-token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          environment: test

    outputs:
      SHORT_SHA: ${{ steps.compute_short_sha.outputs.SHORT_SHA }}

  deploy:
    name: Deploy to GitOps
    needs: build-docker
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Deploy to GitOps
        uses: ./.github/actions/deploy-gitops
        with:
          environment: test
          version: ${{ needs.build-docker.outputs.SHORT_SHA }}
          gitops-repo-key: ${{ secrets.GITOPS_REPO_KEY }}
          helm-repo-pat: ${{ secrets.HELM_REPO_PAT }}
