name: Lint and Unit Tests

on:
  push:

permissions:
  contents: read

jobs:
  lint-and-build:
    name: Lint and Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Use Node.js 22
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22
          cache: "pnpm"
      - name: Audit dependencies
        run: pnpm audit --audit-level=moderate
      - name: Install dependencies
        run: pnpm install
      - name: Run linter
        run: pnpm lint
      - name: Run gitLeaks
        run: pnpm gitleaks:ci
      - name: Build common
        run: pnpm build:common
      - name: Build backend-utils
        run: pnpm build:backend-utils
      - name: Generate types
        run: pnpm db:generate
      - name: Build backend
        run: pnpm build:backend
      - name: Run tests
        run: pnpm test:unit
